*.js

# Excepción para la carpeta /lib/utils/
!lib/lambdas/process-file/utils/*.js
!lib/lambdas/stepOneCreateNote/utils/*.js
!lib/lambdas/stepTwoPublishNote/utils/*.js

!jest.config.js

*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
.env